@use 'fonts';

$pink-color: #F28981;
$blue-color: #96DDF2;
$green-color: #B6D99E;
$haan-color: #ECE7DC;
$body-text-color: black;
$grey-text-color: #A9A9A9;
$heading-font-family: 'diazo-mvb-ex-cond', sans-serif;
$body-font-family: 'mabry-regular-pro', arial, sans-serif;
$accent-font-family: 'MabryPro-Bold', arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;