@use '../abstracts' as a;


/* ---Header Styles--- */
header .logo {
    width: 30%;
}

#hamburger-menu {
    background-color: a.$haan-color;
    color: a.$pink-color;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
    /* Initial visibility set to hidden */
}

#hamburger-menu ul li {
    list-style: none;
    line-height: 4em;
    font-size: 20px;
}

#hamburger-menu ul li:hover {
    cursor: pointer;
}

#hamburger-open,
#hamburger-close {
    font-size: 30px;
}

#hamburger-open:hover,
#hamburger-close:hover {
    cursor: pointer;
    color: white;
}

#hamburger-menu.visible {
    visibility: visible;
    /* Add any other styles for the visible state if needed */
}

.main-nav {
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'MabriPro-Bold';
}

.main-nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 50px;
    font-size: 20px;
}

.main-nav ul li:last-of-type {
    margin-right: 0;
}

/*change color of the text*/
.box-center ul li:hover {
    color: a.$pink-color;
}


.main-nav ul li:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid white;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 1199px) {
    .main-nav ul li {
        margin-right: 30px;
        font-size: 18px;
    }
}

.nav_box {
    text-align: center;
    background-color: a.$haan-color;
}


a {
    text-decoration: none;
    font-family: a.$accent-font-family;
    color: a.$pink-color;
    font-size: 24px;
}

header {
    background-color: a.$haan-color;
    padding: 0px;
    ;
}